@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background: white;
    color: black;
}

[data-theme='dark'] {
    background: #282c34;
    color: white;
 
}

*{
    transition: all 0.2s ease-in-out;
}

body {
    font-family: 'Poppins', sans-serif;
}

